body {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  background-color: #fff;
  opacity: 0;
  transition: .4s; }

.header__logo {
  padding: 25px; }

.kachestvo__logo {
  padding: 0px 25px; }

.logo__kachestvo__1 {
  margin-left: 35px; }

.logo__kachestvo__2 {
  margin-left: 35px; }

.box__left__column {
  width: 300px; }

.file-uploader {
  border-radius: 3px;
  color: #242424; }

.file-uploader__message-area {
  font-size: 18px;
  color: #000;
  margin-bottom: 15px; }

.file-list {
  background-color: #d0ffd6; }

.file-list__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.file-list li {
  height: 50px;
  line-height: 50px;
  border: none;
  overflow: hidden;
  font-size: 18px; }

.removal-button {
  width: 20%;
  border: none;
  color: white;
  background-color: #ff9999;
  cursor: pointer; }
  .removal-button:hover {
    background-color: #fc8181;
    transition: 0.2s; }
  .removal-button:active {
    background-color: #f76464;
    transition: 0.2s; }
  .removal-button::before {
    content: '\2716'; }
  .removal-button:focus {
    outline: 0; }

.file-chooser {
  padding: 1em;
  transition: background-color 1s, height 1s;
  margin-top: 10px; }

.file-uploader {
  max-width: 400px;
  height: auto; }

.file-list__name {
  max-width: 70%;
  float: left; }

.removal-button {
  display: inline-block;
  height: 100%;
  float: right; }

.file-chooser {
  padding: 0;
  background: transparent; }

input[type=file] {
  border: none; }

.file-chooser__input {
  margin: 0 auto; }

.file-uploader__submit-button {
  border-radius: 3px;
  border: none;
  margin-top: 15px;
  color: white;
  background-color: #8fb6f5;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer; }
  .file-uploader__submit-button input[type=submit] {
    border: none; }
  .file-uploader__submit-button:focus {
    box-shadow: none;
    outline: none; }
  .file-uploader__submit-button:hover {
    background-color: #325fa8; }
  .file-uploader__submit-button:active {
    background-color: #254e8f; }

.file-list li:after {
  content: "";
  display: table;
  clear: both; }

.hidden {
  display: none; }
  .hidden input {
    display: none; }

.error {
  background-color: #d65d38;
  color: white; }

*,
*::before,
*::after {
  box-sizing: border-box; }
