.menu {
  margin-top: 25px; }

.navbar li {
  text-transform: uppercase; }

.navbar {
  font-size: 18px;
  padding: 0px; }
  @media screen and (max-width: 992px) {
    .navbar {
      background-color: #344463; }
      .navbar li > a {
        color: #fff; } }
  .navbar li {
    line-height: 1.8; }
  .navbar a {
    color: #000; }
  .navbar a:hover {
    color: #9b9b9b; }

.navbar-toggler-icon {
  padding: 3px 0px; }

.nav-link {
  padding: 5px 15px; }

.navbar-toggler {
  border: none; }

.dropdown-menu {
  border: 1px solid #3265d4;
  border-radius: 0px;
  box-shadow: 0 2px 18px rgba(27, 27, 27, 0.03);
  margin-left: 215px;
  margin-top: -35px;
  text-transform: initial; }
  @media screen and (max-width: 992px) {
    .dropdown-menu {
      margin: 0px;
      font-size: 14px; } }
  @media screen and (max-width: 320px) {
    .dropdown-menu {
      margin: 0px;
      font-size: 11px; } }

.dropdown-item.active, .dropdown-item:active {
  text-decoration: none;
  background-color: #e6e6e6;
  color: #000; }

.dropdown-menu a:hover {
  color: #000000; }

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  color: #9c9c9c;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  transform: rotate(-90deg); }
  @media screen and (max-width: 320px) {
    .dropdown-toggle::after {
      transform: rotate(0deg); } }
