body {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  background-color: #fff;
  opacity: 0;
  transition: .4s; }

.box__probel {
  margin-bottom: 180px; }

.header__logo {
  padding: 25px; }

.kachestvo__logo {
  padding: 0px 25px; }

.logo__kachestvo__1 {
  margin-left: 35px; }

.logo__kachestvo__2 {
  margin-left: 35px; }

.menu {
  margin-top: 25px; }

.navbar {
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 10px; }
  @media screen and (max-width: 992px) {
    .navbar {
      background-color: #7c7c7c; }
      .navbar li > a {
        color: #fff; } }
  .navbar li {
    line-height: 1.8; }
  .navbar a {
    color: #000; }
  .navbar a:hover {
    color: #6b6b6b; }

.navbar-toggler-icon {
  padding: 3px 0px; }

.navbar-toggler {
  border: none; }

.arrow__item {
  margin-top: -3px; }

.text__info__basement li {
  padding: 0px;
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 10px; }
  .text__info__basement li a {
    color: #080808;
    text-decoration: none; }
    .text__info__basement li a:hover {
      color: #383838;
      margin-left: 5px;
      transition: 0.2s; }

.information__in__the__basement {
  padding: 0px 25px; }

.feedback__button {
  padding: 0;
  margin-top: 25px;
  background-color: transparent;
  border: none; }
  .feedback__button a {
    text-decoration: none;
    font-size: 18px;
    color: #6698e4;
    padding: 12px 40px;
    vertical-align: middle; }
    .feedback__button a:hover {
      background-color: #6698e415;
      transition: 0.2s; }

.feedback {
  border: 1px solid #6698e4;
  border-radius: 45px;
  vertical-align: middle; }

.feedback::before {
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  margin-top: 3px;
  left: 35px;
  background: url(/img/icon_2.png) center 0 no-repeat; }

.line__column__small {
  width: 75px;
  border: 0.5px solid #b1b1b1;
  margin-top: 45px;
  margin-bottom: 25px; }

.site__naks {
  font-size: 14px; }

.number {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 15px; }
  @media screen and (max-width: 696px) {
    .number {
      font-size: 24px; } }

.block__number {
  text-align: right; }
  @media screen and (max-width: 578px) {
    .block__number {
      margin-top: 15px;
      margin-bottom: 15px; } }
  @media screen and (max-width: 575px) {
    .block__number {
      text-align: center; } }

.number__text__small {
  margin-bottom: 0;
  font-weight: 450; }

.feedback__header {
  margin-top: -15px;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  color: #4f8ff5;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  text-align: right; }
  .feedback__header a {
    text-decoration: none; }
  @media screen and (max-width: 992px) {
    .feedback__header {
      background-color: #5e7daf;
      padding: 10px 25px;
      margin-top: 10px;
      border-radius: 3px;
      justify-content: center; }
      .feedback__header a {
        color: #fff; } }
