@charset "UTF-8";
body {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  background-color: #fff;
  opacity: 0;
  transition: .4s; }

.header__logo {
  padding: 25px; }

@media screen and (max-width: 1200px) {
  .header__logo__img {
    width: 170px; } }

@media screen and (max-width: 992px) {
  .header__logo__img {
    width: 200px; } }

@media screen and (max-width: 320px) {
  .header__logo__img {
    width: 250px; } }

@media screen and (max-width: 576px) {
  .header__logo__img {
    width: 250px; } }

.kachestvo__logo {
  padding: 0px 25px; }

.logo__kachestvo__1 {
  margin-left: 35px; }

.logo__kachestvo__2 {
  margin-left: 35px; }

.box__left__column {
  width: 300px; }

.file-uploader {
  border-radius: 3px;
  color: #242424; }

.file-uploader__message-area {
  font-size: 18px;
  color: #000;
  margin-bottom: 15px; }

.file-list {
  background-color: #d0ffd6; }

.file-list__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.file-list li {
  height: 50px;
  line-height: 50px;
  border: none;
  overflow: hidden;
  font-size: 18px; }

.removal-button {
  width: 20%;
  border: none;
  color: white;
  background-color: #ff9999;
  cursor: pointer; }
  .removal-button:hover {
    background-color: #fc8181;
    transition: 0.2s; }
  .removal-button:active {
    background-color: #f76464;
    transition: 0.2s; }
  .removal-button::before {
    content: '\2716'; }
  .removal-button:focus {
    outline: 0; }

.file-chooser {
  padding: 1em;
  transition: background-color 1s, height 1s;
  margin-top: 10px; }

.file-uploader {
  max-width: 400px;
  height: auto; }

.file-list__name {
  max-width: 70%;
  float: left; }

.removal-button {
  display: inline-block;
  height: 100%;
  float: right; }

.file-chooser {
  padding: 0;
  background: transparent; }

input[type=file] {
  border: none; }

.file-chooser__input {
  margin: 0 auto; }

.file-uploader__submit-button {
  border-radius: 3px;
  border: none;
  margin-top: 15px;
  color: white;
  background-color: #8fb6f5;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer; }
  .file-uploader__submit-button input[type=submit] {
    border: none; }
  .file-uploader__submit-button:focus {
    box-shadow: none;
    outline: none; }
  .file-uploader__submit-button:hover {
    background-color: #325fa8; }
  .file-uploader__submit-button:active {
    background-color: #254e8f; }

.file-list li:after {
  content: "";
  display: table;
  clear: both; }

.hidden {
  display: none; }
  .hidden input {
    display: none; }

.error {
  background-color: #d65d38;
  color: white; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@media screen and (max-width: 576px) {
  .probel {
    display: none; } }

@media screen and (max-width: 576px) {
  .line__grey {
    border: 0.5px solid #eeeeee;
    margin-bottom: 5px; } }

@media screen and (max-width: 320px) {
  .line__grey {
    border: 0.5px solid #eeeeee;
    margin-bottom: 5px; } }

.menu {
  margin-top: 25px; }

.navbar li {
  text-transform: uppercase; }

.navbar {
  font-size: 18px;
  padding: 15px 10px; }
  @media screen and (max-width: 992px) {
    .navbar {
      background-color: #344463; }
      .navbar li > a {
        color: #fff; } }
  .navbar li {
    line-height: 1.8; }
  .navbar a {
    color: #000; }
  .navbar a:hover {
    color: #9b9b9b; }

.navbar-toggler-icon {
  padding: 3px 0px; }

.navbar-toggler {
  border: none; }

.dropdown-menu {
  border: 1px solid #3265d4;
  border-radius: 0px;
  box-shadow: 0 2px 18px rgba(27, 27, 27, 0.03);
  margin-left: 215px;
  margin-top: -35px;
  text-transform: initial; }
  @media screen and (max-width: 992px) {
    .dropdown-menu {
      margin: 0px;
      font-size: 14px; } }
  @media screen and (max-width: 320px) {
    .dropdown-menu {
      margin: 0px;
      font-size: 11px; } }

.dropdown-item.active, .dropdown-item:active {
  text-decoration: none;
  background-color: #e6e6e6;
  color: #000; }

.dropdown-menu a:hover {
  color: #000000; }

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  color: #9c9c9c;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  transform: rotate(-90deg); }
  @media screen and (max-width: 320px) {
    .dropdown-toggle::after {
      transform: rotate(0deg); } }

@media screen and (max-width: 992px) {
  .kachestvo__logo {
    display: none; } }

@media screen and (max-width: 1440px) {
  .logo__kachestvo {
    width: 35px; } }

@media screen and (max-width: 1200px) {
  .logo__kachestvo {
    width: 30px; } }

.logo__kachestvo__1 {
  margin-left: 35px; }
  @media screen and (max-width: 1440px) {
    .logo__kachestvo__1 {
      width: 35px;
      margin-left: 15px; } }
  @media screen and (max-width: 1200px) {
    .logo__kachestvo__1 {
      width: 30px;
      margin-left: 10px; } }

.logo__kachestvo__2 {
  margin-left: 35px; }
  @media screen and (max-width: 1440px) {
    .logo__kachestvo__2 {
      width: 35px;
      margin-left: 15px; } }
  @media screen and (max-width: 1200px) {
    .logo__kachestvo__2 {
      width: 30px;
      margin-left: 10px; } }

.arrow__item {
  margin-top: -3px; }

.text__info__basement {
  margin-top: 145px; }
  @media screen and (max-width: 1440px) {
    .text__info__basement {
      margin-top: 85px; } }
  @media screen and (max-width: 1200px) {
    .text__info__basement {
      margin-top: 65px; } }
  @media screen and (max-width: 992px) {
    .text__info__basement {
      display: none; } }

.text__info__basement li {
  padding: 0px;
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 10px; }
  .text__info__basement li a {
    color: #080808;
    text-decoration: none; }
    .text__info__basement li a:hover {
      color: #383838;
      margin-left: 5px;
      transition: 0.2s; }

.text__info__basement__mob li {
  padding: 0px;
  list-style-type: none;
  font-size: 12px;
  margin-bottom: 10px; }
  .text__info__basement__mob li a {
    color: #080808;
    text-decoration: none; }
    .text__info__basement__mob li a:hover {
      color: #383838;
      margin-left: 5px;
      transition: 0.2s; }

.information__in__the__basement {
  padding: 0px 25px; }

.feedback__button {
  padding: 0;
  margin-top: 25px;
  background-color: transparent;
  border: none; }
  .feedback__button a {
    text-decoration: none;
    font-size: 16px;
    color: #6698e4;
    padding: 10px 35px;
    vertical-align: middle; }
    @media screen and (max-width: 1440px) {
      .feedback__button a {
        padding: 8px 15px; } }
    @media screen and (max-width: 1200px) {
      .feedback__button a {
        padding: 7px 12px;
        font-size: 12px; } }
    .feedback__button a:hover {
      background-color: #6698e415;
      transition: 0.2s; }

.feedback {
  border: 1px solid #6698e4;
  border-radius: 45px; }

.icon__vopros {
  margin-top: -5px;
  margin-left: -5px; }

.line__column__small {
  width: 75px;
  border: 0.5px solid #b1b1b1;
  margin-top: 45px;
  margin-bottom: 25px; }

.site__naks {
  font-size: 14px; }
  @media screen and (max-width: 1440px) {
    .site__naks {
      font-size: 10px;
      font-weight: 500; } }
  @media screen and (max-width: 1200px) {
    .site__naks {
      font-size: 12px;
      font-weight: 500; } }

.header__box {
  padding: 3px 0px; }
  @media screen and (max-width: 320px) {
    .header__box {
      text-align: center; } }
  @media screen and (max-width: 576px) {
    .header__box {
      text-align: center; } }
  @media screen and (max-width: 640px) {
    .header__box {
      text-align: center; } }

.number {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 0; }
  @media screen and (max-width: 1537px) {
    .number {
      font-size: 20px; } }
  @media screen and (max-width: 320px) {
    .number {
      font-size: 24px; } }
  @media screen and (max-width: 576px) {
    .number {
      font-size: 24px; } }
  @media screen and (max-width: 640px) {
    .number {
      text-align: center; } }

.block__number {
  text-align: right; }
  @media screen and (max-width: 320px) {
    .block__number {
      text-align: center; } }
  @media screen and (max-width: 576px) {
    .block__number {
      text-align: center; } }
  @media screen and (max-width: 640px) {
    .block__number {
      text-align: center; } }

.number__text__small {
  margin-bottom: 0;
  font-weight: 450; }

.header__mail {
  font-size: 14px;
  font-weight: 400;
  color: #797979;
  padding: 25px 0px; }
  @media screen and (max-width: 320px) {
    .header__mail {
      margin-bottom: 0;
      padding: 15px; } }
  @media screen and (max-width: 576px) {
    .header__mail {
      margin-bottom: 0;
      padding: 15px; } }

@media screen and (max-width: 992px) {
  .adres__block {
    padding: 0px 45px; } }

.text__adres {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-bottom: 0px; }
  @media screen and (max-width: 1440px) {
    .text__adres {
      font-size: 12px; } }
  @media screen and (max-width: 320px) {
    .text__adres {
      font-size: 16px; } }
  @media screen and (max-width: 375px) {
    .text__adres {
      font-size: 16px; } }

.click__on__map {
  margin-top: -15px; }
  @media screen and (max-width: 576px) {
    .click__on__map {
      font-size: 18px;
      margin-top: 15px; } }
  @media screen and (max-width: 320px) {
    .click__on__map {
      font-size: 14px; } }
  @media screen and (max-width: 375px) {
    .click__on__map {
      font-size: 14px; } }

.sasp__logo::before {
  content: '';
  position: absolute;
  width: 85px;
  height: 45px;
  left: 0;
  margin-top: 20px;
  background: url(/img/logo__sasp.png) center 0 no-repeat; }
  @media screen and (max-width: 576px) {
    .sasp__logo::before {
      display: none; } }
  @media screen and (max-width: 340px) {
    .sasp__logo::before {
      display: none; } }
  @media screen and (max-width: 640px) {
    .sasp__logo::before {
      display: none; } }

.sasp__text {
  margin-left: 80px;
  color: #002D41;
  font-weight: 400; }
  @media screen and (max-width: 576px) {
    .sasp__text {
      display: none; } }
  @media screen and (max-width: 640px) {
    .sasp__text {
      display: none; } }

.mob__logo__sasp {
  margin-bottom: 5px; }

.mob__sasp {
  display: none;
  font-size: 14px; }
  @media screen and (max-width: 576px) {
    .mob__sasp {
      display: block; } }
  @media screen and (max-width: 640px) {
    .mob__sasp {
      display: block; } }

@media screen and (max-width: 576px) {
  .mob__sasp__text {
    margin-bottom: 0px; } }

@media screen and (max-width: 640px) {
  .mob__sasp__text {
    margin-bottom: 0px; } }

.background {
  background: url(/img/background.png) no-repeat;
  background-size: cover; }
  @media screen and (max-width: 992px) {
    .background {
      display: none; } }

.bg__content {
  padding: 145px 0px 0px 45px; }

.header__text__thin {
  font-size: 42px;
  font-weight: 350;
  color: #fff;
  margin-bottom: 0; }
  @media screen and (max-width: 1200px) {
    .header__text__thin {
      font-size: 36px; } }
  @media screen and (max-width: 320px) {
    .header__text__thin {
      font-size: 24px; } }

.header__text__bold {
  font-size: 42px;
  font-weight: 550;
  color: #fff; }
  @media screen and (max-width: 320px) {
    .header__text__bold {
      font-size: 24px; } }

.small__bg__text {
  font-size: 18px;
  font-weight: 350;
  color: #fff;
  line-height: 1.4; }
  @media screen and (max-width: 320px) {
    .small__bg__text {
      font-size: 16px; } }

.button__zayavka {
  border: none;
  background: transparent;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 151px; }
  @media screen and (max-width: 1440px) {
    .button__zayavka {
      margin-bottom: 128px; } }
  @media screen and (max-width: 1440px) {
    .button__zayavka {
      margin-bottom: 90px; } }
  @media screen and (max-width: 992px) {
    .button__zayavka {
      margin-bottom: 15px; } }
  .button__zayavka a {
    background-color: #db4848;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 25px;
    border-radius: 3px;
    text-decoration: none; }
    .button__zayavka a:hover {
      background-color: #e45454;
      transition: 0.2s; }
    .button__zayavka a:active {
      background-color: #c73535; }

.button__news {
  border: none;
  background: transparent;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 60px; }
  @media screen and (max-width: 992px) {
    .button__news {
      margin-bottom: 25px; } }
  .button__news a {
    color: #fff;
    font-size: 16px;
    padding: 5px 25px;
    border-radius: 25px;
    border: 1px solid #fff;
    text-decoration: none; }
    .button__news a:hover {
      background-color: #ffffff15;
      transition: 0.2s; }

.box__info__menu {
  padding: 25px 0px 0px 0px; }

.info__menu__zayaviteli {
  padding: 25px;
  background-color: #28354d; }

.header__info__menu {
  font-size: 22px;
  font-weight: 400;
  color: #fff; }

.info__menu {
  padding: 0px;
  list-style-type: none; }
  .info__menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    padding: 0px 15px;
    border-left: 2px solid #fff; }
    .info__menu a:hover {
      color: #e2e2e2;
      border-left: 2px solid #7ea0ff;
      transition: 0.2s; }

@media screen and (max-width: 320px) {
  .footer__mob {
    text-align: center; } }

@media screen and (max-width: 425px) {
  .footer__mob {
    text-align: center; } }

@media screen and (max-width: 375px) {
  .footer__mob {
    text-align: center; } }

@media screen and (max-width: 992px) {
  .footer__box {
    display: none; } }

.footer {
  padding: 25px 45px; }
  @media screen and (max-width: 992px) {
    .footer {
      padding: 25px 15px; } }
  @media screen and (max-width: 320px) {
    .footer {
      padding: 15px; } }
  @media screen and (max-width: 375px) {
    .footer {
      padding: 15px; } }

.prava__footer {
  padding: 45px 0px; }
  @media screen and (max-width: 992px) {
    .prava__footer {
      font-size: 12px;
      padding: 25px; } }
  @media screen and (max-width: 320px) {
    .prava__footer {
      font-size: 12px;
      padding: 15px; } }

.political__footer {
  padding: 45px 0px 0px; }

.political__footer__mob {
  padding: 25px; }
  @media screen and (max-width: 320px) {
    .political__footer__mob {
      padding: 0px; } }
  @media screen and (max-width: 576px) {
    .political__footer__mob {
      padding: 0px; } }

.razrabotano {
  padding: 45px 0px 0px;
  color: #979797;
  margin-bottom: 0; }

@media screen and (max-width: 576px) {
  .razrabotano__footer__mob {
    margin-bottom: 15px;
    margin-top: -25px; } }

@media screen and (max-width: 320px) {
  .razrabotano__footer__mob {
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 0px; } }

@media screen and (max-width: 992px) {
  .razrabotano__footer__mob {
    padding: 25px 0px; } }

@media screen and (max-width: 768px) {
  .razrabotano__footer__mob {
    text-align: center; } }

.background__mob {
  background: url(/img/background.png) no-repeat;
  background-size: cover;
  display: none; }
  @media screen and (max-width: 992px) {
    .background__mob {
      display: block; } }

@media screen and (max-width: 992px) {
  .background__mob {
    display: block; } }

@media screen and (max-width: 992px) {
  .bg__content__mob {
    padding: 15px; } }

.footer__mob {
  display: none; }
  @media screen and (max-width: 992px) {
    .footer__mob {
      display: block; } }

@media screen and (max-width: 992px) {
  .spks__logo__img {
    width: 200px; } }

@media screen and (max-width: 320px) {
  .spks__logo__img {
    width: 250px; } }

@media screen and (max-width: 475px) {
  .spks__logo__img {
    width: 250px; } }

.box__info__mob {
  display: none; }
  @media screen and (max-width: 992px) {
    .box__info__mob {
      display: block;
      padding: 25px;
      background-color: #f3f3f3; } }

.small__text__mob {
  margin-bottom: 0px; }

.site__naks {
  margin-bottom: 0; }

.site__naks__mob {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0px; }
  @media screen and (max-width: 575px) {
    .site__naks__mob {
      margin-bottom: 10px;
      margin-top: 5px; } }

.feedback__button__mob {
  padding: 0;
  margin-top: 25px;
  background-color: transparent;
  border: none; }
  @media screen and (max-width: 992px) {
    .feedback__button__mob {
      margin-top: 10px; } }
  .feedback__button__mob a {
    text-decoration: none;
    font-size: 16px;
    color: #6698e4;
    padding: 10px 35px;
    vertical-align: middle; }
    @media screen and (max-width: 1440px) {
      .feedback__button__mob a {
        padding: 8px 15px; } }
    @media screen and (max-width: 1200px) {
      .feedback__button__mob a {
        padding: 7px 12px;
        font-size: 12px; } }
    .feedback__button__mob a:hover {
      background-color: #6698e415;
      transition: 0.2s; }

.feedback__mob {
  border: 1px solid #6698e4;
  border-radius: 45px; }

.icon__vopros {
  margin-top: -5px;
  margin-left: -5px; }

.text__info__basement__mob li {
  padding: 0px;
  list-style-type: none;
  font-size: 12px;
  margin-bottom: 10px; }
  .text__info__basement__mob li a {
    color: #080808;
    text-decoration: none; }
    .text__info__basement__mob li a:hover {
      color: #383838;
      margin-left: 5px;
      transition: 0.2s; }

.box__info__nk_bw_jr {
  display: none;
  margin-top: 25px; }
  @media screen and (max-width: 992px) {
    .box__info__nk_bw_jr {
      display: block; } }

.info__block {
  box-shadow: 0 2px 18px rgba(27, 27, 27, 0.03); }

.naks__img__box {
  background: url(../img/naks_logo.png) no-repeat;
  background-size: cover;
  border-radius: 3px;
  width: 200px;
  height: 142px;
  margin: 0 auto; }

.naks__box {
  padding: 15px;
  background-color: #4f72ac;
  border-radius: 3px 3px 0px 0px; }

.naks__info__box {
  margin-bottom: 50px;
  background-color: #fff;
  padding: 25px; }
  .naks__info__box a {
    text-decoration: none; }

.naks__text__box {
  font-size: 14px;
  font-weight: 450;
  border-radius: 0px 0px 3px 3px;
  margin-bottom: 0px; }

.search__box {
  background: url(../img/search__work.png) no-repeat;
  background-size: cover;
  border-radius: 3px; }

.search__color__box {
  background-color: #0066ac;
  color: #fff;
  width: 100%;
  border-radius: 3px 3px 0px 0px; }

.search__box {
  padding: 25px;
  border-radius: 3px 3px 0px 0px; }

.search__info__box {
  margin-bottom: 50px;
  background-color: #fff;
  padding: 25px; }
  .search__info__box a {
    text-decoration: none; }

.search__text__box {
  font-size: 14px;
  font-weight: 450;
  border-radius: 0px 0px 3px 3px;
  margin-bottom: 0px; }

.search__link__text {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 650;
  color: #fbb52f; }

.search__text__small {
  font-size: 18px;
  font-weight: 500;
  color: #fff; }

.journal__box {
  background-color: #4f72ac;
  border-radius: 3px 3px 0px 0px;
  padding: 21px 0px 0px 25px; }

.journal__img__box {
  background: url(../img/journal.png) no-repeat;
  background-size: cover;
  width: 162px;
  height: 150px;
  float: right;
  margin-right: 15px; }

.journal__text__small {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    .journal__text__small {
      font-size: 18px; } }

/* Modal Window */
.modal {
  z-index: 100001; }

.modal-dialog {
  max-width: 1400px; }

.modal .custom-control-label a {
  text-decoration: underline; }

.modal .custom-control-label a:hover {
  text-decoration: none; }

.modal-header {
  border-bottom: none;
  background-color: #ffffff;
  color: #fff;
  border-top: 15px solid #404447; }

.modal-footer {
  justify-content: flex-start;
  border-top: none;
  padding: 0px 75px 75px; }
  @media screen and (max-width: 450px) {
    .modal-footer {
      padding: 0px 35px 35px; } }

.modal-content {
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 0;
  border: none; }

.form-control-sm {
  height: 35px;
  border: transparent;
  border-radius: 0; }

.modal-content .form-control {
  background-color: transparent;
  border-bottom: 1px solid #b6b6b6;
  color: #333333;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px; }
  .modal-content .form-control:focus {
    background-color: #f5f5f5; }

.modal-content .form-control option {
  color: #000; }

.modal-content .custom-control-label::before {
  background-color: transparent;
  border: 1px solid #3f3f3f; }

.modal-content .custom-control-input:checked ~ .custom-control-label::before {
  color: #3f3f3f;
  background-color: #3f3f3f; }

.modal-header {
  position: relative;
  display: block;
  border-radius: 0;
  padding: 45px; }

.custom-control-label::after {
  cursor: pointer; }

input[type="radio"], input[type="checkbox"] {
  margin: 0;
  padding: 0; }

.custom-control-checkbox {
  padding-left: 0.9rem;
  cursor: pointer; }

.modal-title {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 200;
  color: #000; }

.modal-header {
  padding: 75px 75px 0px; }
  @media screen and (max-width: 450px) {
    .modal-header {
      padding: 35px 25px 15px; } }

.modal-body {
  padding: 0px 75px 25px;
  color: #000; }
  @media screen and (max-width: 450px) {
    .modal-body {
      padding: 0px 25px 15px; } }

.modal-header p {
  font-size: 0.875rem;
  line-height: 20px;
  color: #000; }

.modal-header .close {
  position: absolute;
  right: 2rem;
  top: 0;
  font-size: 2.5rem;
  font-weight: 100;
  opacity: 1;
  line-height: inherit;
  padding: 1rem;
  margin: 0; }
  @media screen and (max-width: 320px) {
    .modal-header .close {
      margin-right: -25px; } }

input ~ label[for="soglasie"] {
  width: 100%;
  font-size: 16px;
  margin: 25px 0px 0px 10px;
  padding: 0px; }

input ~ label[for="sogl"] {
  width: 100%;
  font-size: 16px;
  margin: 10px 0px 0px 10px;
  padding: 0px; }

.button__to__send_zayavka__formmodal {
  background-color: #3eb5f1;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 12px 45px; }
  @media screen and (max-width: 450px) {
    .button__to__send_zayavka__formmodal {
      padding: 15px; } }

.button__to__send_zayavka__formmodal:hover {
  background-color: #47bbf5; }

.button__to__send_zayavka__formmodal:active {
  background-color: #35a9e4; }

/* Выбор несколько из списка */
.choose__item .items {
  list-style: none;
  padding: 0;
  margin: 0; }

.choose__item .items li {
  display: block;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 350;
  border: 1px #8d8d8d solid;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 0px 15px 15px 0px;
  float: left; }

.choose__item .items li:hover {
  background-color: #afafaf;
  transition: 0.5s;
  transform: scale(1.02, 1.02);
  color: #fff; }

.choose__item .items li:active {
  background-color: #7a7a7a; }

.selected {
  background-color: #7a7a7a;
  border-radius: 300px;
  padding: 7px;
  color: #fff; }

hr {
  clear: both; }

.checks {
  opacity: 0; }

.col-form-label-sm {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: 350; }

.modal__title__small__text {
  font-size: 16px;
  font-weight: 500; }

.accompanying__message__bold {
  font-size: 18px;
  font-weight: 400; }
