.menu {
    margin-top: 25px; 
    }

.navbar {
    // background: transparent;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 10px;

    @media screen and (max-width: 992px) {
        background-color: #d4d4d4;

        li>a {
            color: #fff;
        }
    }

    li {
        line-height: 1.8;
    }

    a {
        color: #000;
    }

    a:hover {
        color: rgb(107, 107, 107);
    }
}

.navbar-toggler-icon {
    padding: 3px 0px;
}

.navbar-toggler {
    border: none;
}