{% load static %}
<div class="bg_padding">
    <div class="background">
        <div class="container">
            {% include 'mainapp/includes/menu.html' %}
            <div class="row">
                <div class="col-xl-6">
                    <div class="bg_padding_info">
                        <div class="bg_left_column_info">
                            <p class="bg_text_head">{{ profile.org_short_name }}</p>
                            <p class="bg_text_small">{{ profile.org_intro }}</p>
                            <div class="online__zayavka__button">
                                <button class="button__zayavka" data-toggle="modal"
                                    data-target="#modal-statement">Подать
                                    заявку</button>
                                <button class="button_services">
                                    <a href="#service" class="smoothScroll">
                                        Услуги
                                </a>
                            </button>
                            </div>
                            <div class="info_box_text">
                                Организация является членом <br>
                                Саморегулируемая организация Ассоциация «НАКС».
                                <div class="naks_link">
                                    <a href="http://www.naks.ru" target="_blank"
                                        title="Национальное Агентство Контроля Сварки">www.naks.ru</a>
                                    <a href="http://spks.naks.ru/news/" class="spks_link" target="_blank"
                                        title="Совет по профессиональным квалификациям в области сварки">www.spks.naks.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
