<div class="box_content_information">
    <div class="container">
            <div class="box_headline_include">
                    <div class="row">
                        <div class="oragne_left_line"></div>
                        <div class="headline_box_text">
                           Информация
                        </div>
                    </div>
                </div>
                <div class="row">
        
                    <div class="col-xl-4">
        
                        <div class="info__block">
                            <div class="naks__box">
                                <div class="naks__img__box">
                                </div>
                            </div>
                            <div class="naks__info__box">
                                <p class="naks__text__box">Национальное Агентство <br>
                                    Контроля Сварки</p>
                                <a href="http://www.naks.ru" target="_blank">
                                    <p class="naks__text__box">www.naks.ru</p>
                                </a>
                            </div>
                        </div>
        
                    </div>
                    <div class="col-xl-4">
                        <div class="info__block">
                            <div class="search__color__box">
                                <div class="search__box">
                                    <p class="search__link__text">
                                        BEWELDER.RU
                                    </p>
                                    <p class="search__text__small">
                                        Поиск работы <br> в области сварки
                                    </p>
                                </div>
                            </div>
                            <div class="search__info__box">
                                <p class="search__text__box d-inline-block">Сервис поиска работы <br> в области сварки</p>
                                <a href="http://www.bewelder.ru" target="_blank" class="search__work__link d-inline-block">Найти
                                    работу</a>
                                <a href="http://www.bewelder.ru" target="_blank">
                                    <p class="search__text__box">www.bewelder.ru</p>
                                </a>
                            </div>
                        </div>
        
                    </div>
                    <div class="col-xl-4">
                        <div class="info__block">
                            <div class="journal__box">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <p class="journal__text__small d-inline-block">
                                            Журнал <br> сварка и <br> диагностика
                                        </p>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="journal__img__box"></div>
                                    </div>
                                </div>
        
                            </div>
                            <div class="naks__info__box">
                                <p class="naks__text__box">Научно-технический и производственный <br> журнал по сварке,
                                    контролю и диганостике
                                    <a href="http://www.svarka.naks.ru" target="_blank">
                                        <p class="naks__text__box">www.svarka.naks.ru</p>
                                    </a>
                            </div>
                        </div>
        
                    </div>
                </div>
    </div>
</div>