{% load link_holders %}
{% load static %}
<div class="box_content">
    <div class="container">
        <div class="box_headline_include">
            <div class="row">
                <div class="oragne_left_line"></div>
                <div class="headline_box_text">
                    О Центре
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-6">
                <div class="center_info_headline">
                    АНО Центр экспертизы и сертификации "Техкранэнерго"
                </div>
                <div class="box_center_info_left_column">
                    <div class="center_info_text">
                        Центр осуществляет аттестационную деятельность в рамках Системы аттестации сварочного
                        производства
                        Ростехнадзора (САСв Ростехнадзора), независимую оценку квалификации в области сварки, а также
                        оказывает услуги по: Специальной подготовки сварщиков, и специалистов сварочного производства.
                        Аттестация сварщиков и специалистов сварочного производства. Аттестация сварочного оборудования
                        и
                        аттестация технологий сварки.
                    </div>
                    <div class="list_center_info">
                        <ul>
                            <a href="{% link_holder 'CENTER' %}">
                                <li>
                                    {% title_holder 'CENTER' %}
                                </li>
                            </a>
                            <a href="{% url 'profstandarti' %}">
                                <li>
                                    Профстандарты в области сварки
                                </li>
                            </a>
                            <a href="{% url 'doc' %}">
                                <li>
                                    Разрешительные документы
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="box_center_info_right_column">
                    <div class="box_img_center">

                        <p class="imglist" style="max-width: 1000px;">
                            <a href="{% static 'img/img_at.jpg' %}" data-fancybox="images"
                                data-caption="Backpackers following a dirt trail">
                                <img src="{% static 'img/img_at.jpg' %}" class="img-fluid img_center mr-2" />
                            </a>
                            <a href="{% static 'img/img_at2.jpg' %}" data-fancybox="images"
                                data-caption="Backpackers following a dirt trail">
                                <img src="{% static 'img/img_at2.jpg' %}" class="img-fluid img_center mr-2" />
                            </a>
                            <a href="{% static 'img/img_at3.jpg' %}" data-fancybox="images"
                                data-caption="Backpackers following a dirt trail">
                                <img src="{% static 'img/img_at3.jpg' %}" class="img-fluid img_center mr-2" />
                            </a>
                            <a href="{% static 'img/img_at4.jpg' %}" data-fancybox="images"
                                data-caption="Backpackers following a dirt trail">
                                <img src="{% static 'img/img_at4.jpg' %}" class="img-fluid img_center mr-2" />
                            </a>
                            <a href="{% static 'img/img_at5.jpg' %}" data-fancybox="images"
                                data-caption="Backpackers following a dirt trail">
                                <img src="{% static 'img/img_at5.jpg' %}" class="img-fluid img_center mr-2" />
                            </a>
                            <a href="{% static 'img/img_at6.jpg' %}" data-fancybox="images"
                                data-caption="Backpackers following a dirt trail">
                                <img src="{% static 'img/img_at6.jpg' %}" class="img-fluid img_center mr-2" />
                            </a>
                            <a href="{% static 'img/img_at7.jpg' %}" data-fancybox="images"
                                data-caption="Backpackers following a dirt trail">
                                <img src="{% static 'img/img_at7.jpg' %}" class="img-fluid img_center mr-2" />
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>