{% load link_holders %}
{% load static %}
<div class="box_content">
    <div class="container">
        <div class="box_headline_include">
            <div class="row">
                <div class="oragne_left_line"></div>
                <div class="headline_box_text">
                    О Центре
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-6">
                <div class="center_info_headline">
                    {{ profile.org_short_name }}
                </div>
                <div class="box_center_info_left_column">
                    <div class="center_info_text">
                        {{ profile.org_intro }}
                    </div>
                    <div class="list_center_info">
                        <ul>
                            <a href="{% link_holder 'CENTER' %}">
                                <li>
                                    {% title_holder 'CENTER' %}
                                </li>
                            </a>
                            <a href="{% url 'profstandarti' %}">
                                <li>
                                    Профстандарты в области сварки
                                </li>
                            </a>
                            <a href="{% url 'doc' %}">
                                <li>
                                    Разрешительные документы
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="box_center_info_right_column">
                    <div class="box_img_center">

                        <p class="imglist" style="max-width: 1000px;">
                            {% for att in attestats  %}
                            <a href="{{ att.image.url }}" data-fancybox="images"
                                data-caption="Backpackers following a dirt trail">
                                <img src="{{ att.image.url }}" class="img-fluid img_center mr-2" />
                            </a>
                            {% endfor %}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>