{% load link_holders %}
{% load static %}
<div class="box_footer">
    <div class="container">
        <div class="row">   
            <div class="col-xl-3">
                <div class="rsps_logo">
                    <img src="{% static 'img/rsps_logo.png' %}" alt="">
                </div>
            </div>
            <div class="col-xl-6">
             <div class="block_ac_info_footer">
                <div class="logo_ac_footer">
                    <img src="{% static 'img/logo_ac_footer.png' %}" class="logo_ac_footer_small" alt="">
                </div>
                <p class="footer_naks_member">
                    Организация является членом Саморегулируемой <br> организации Ассоциация «НАКС».
                </p>
                <div class="naks_web_link">
                    <a href="http://www.naks.ru" target="_blank" title="Национальное Агентство Контроля Сварки">www.naks.ru
                        &nbsp | &nbsp </a>
                    <a href="http://spks.naks.ru/news/" target="_blank" title="Совет по профессиональным квалификациям в области сварки">www.spks.naks.ru</a>
                    </div>

             </div>
            </div>
            <div class="col-xl-3">
                <div class="footer_menu">
                    <div class="headline_menu_footer">
                        Информация
                    </div>
                   <div class="list_menu_footer">
                    <ul>                   
                        <a href="">
                            <li>Главная</li>
                        </a>
                        <a href="{% link_holder 'CENTER' %}">
                            <li>{% title_holder 'CENTER' %}</li>
                        </a>
                        <a href="{% url 'doc' %}">
                            <li>Документы</li>
                        </a>
                        <a href="{% link_holder 'CENTER_OCENKI_KVAL' %}">
                            <li>{% title_holder 'CENTER_OCENKI_KVAL' %}</li>
                        </a>                       
                   </div>
                      
                    </ul>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-xl-3">
                <div class="prava">
                    © 2019 АНО ЦЭС «Техкранэнерго». Все права защищены.
                </div>
            </div>
            <div class="col-xl-2">
                <div class="political" target="_blank">
                 <a  href="{% link_holder 'POLITICAL' %}">{% title_holder 'POLITICAL' %}
                 </a>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="razrabotano">
                  <a href="http://www.naks.ru/naksmedia/" target="_blank">
                    Разработано в - НАКС Медиа
                  </a>
                </div>
            </div>
        </div>    
    </div>