{% load static %}
<div class="container">
        <div class="box_header_items">
                <div class="row align-items-center">
                        <div class="col-md-6 col-lg-3 col-xl-3">
                                <a href="{% url 'index' %}">
                                        <img src="
{% if profile.org_logotype %}
{{ profile.org_logotype.url }}
{% else %}
https://place-hold.it/200x50
{% endif %}
" class="header__logo" alt="logotype" title="Логотип {{ profile.org_short_name }}">
                                </a>
                        </div>

                        <div class="col-lg-6 col-xl-4">
                                <div class="row">
                                        <div class="col-6">
                                                <div class="block__number d-inline-block">
                                                        <div class="number_header">{{ profile.org_main_phone }}
                                                        </div>
                                                        <p class="number__text__small">
                                                                {{profile.org_main_phone_text}}</p>
                                                </div>
                                        </div>
                                        {% if profile.org_secondary_phone %}
                                        <div class="col-6">
                                                <div class="block__number d-inline-block">
                                                        <div class="number_header">
                                                                {{ profile.org_secondary_phone }}</div>
                                                        <p class="number__text__small">
                                                                {{ profile.org_secondary_phone_text }}</p>

                                                </div>
                                        </div>
                                        {% endif %}
                                </div>

                        </div>
                        <div class="col-xl-2">
                                <div class="button_edo_header">
                                        <button class="system_edo_enter">                                       
                                                <a href="https://ac.naks.ru/" target="_blank"> <img src="{% static '/img/enter_system.png' %}" class="enter_icon" alt="">Войти в систему ЭДО</a>
                                        </button>
                                </div>
                        </div>

                        <div class="d-none d-xl-block col-xl-2">
                                <div class="additional_logo">
                                        <img src="{% static '/img/logo_2.png' %}"
                                                title="Лауреат Премии Правительства РФ в области качества 2012г" alt="">
                                        <img src="{% static '/img/logo_3.png' %}"
                                                title="Лауреат Премии СНГ 2013 года за достижения в области качества"
                                                class="center__logo" alt="">
                                        <img src="{% static '/img/logo_4.png' %}"
                                                title="Член Международного института сварки" alt="">
                                </div>
                        </div>
                        <div class="d-none d-xl-block col-xl-1">
                                <div class="additional_logo">
                                        <img src="{% static '/img/logo_sasv.png' %}" alt="">
                                </div>
                        </div>

                </div>

        </div>
</div>