<div class="box_content_news">
    <div class="container">
        <div class="box_headline_include">
            <div class="row">
                <div class="oragne_left_line"></div>
                <div class="headline_box_text">
                    Новости
                    <p class="all_news">
                        <a href="{% url 'news' %}">
                            Все новости
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% comment %} block_news {% endcomment %}
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4 col-xl-4">
                <div class="block_news">
                    <div class="headline_name_news">
                        {{ post.title }}
                    </div>
                    <p class="data__news__main">{{ post.published_date|date:"d M. Y"}}</p>
                    <div class="text_for_news">
                     
                    </div>
                    <button class="more_news">
                        <a href="">
                            Читать
                        </a>
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
