<div class="box_content_services">
    <div class="container">
        <div class="box_headline_include">
            <div class="row">
                <div class="oragne_left_line"></div>
                <div class="headline_box_text" id="service">
                    Услуги
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-4">
        <div class="box_services">
            <div class="box_img_service" >
                <a href="">
                    <div class="block_services">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="name_service">
                               Аттестация сварочного производства
                                </div>
                            </a>
                        </div>
                        <div class="box_text_for_services">
                            {{ service.short_description }}
                        </div>
                        <button class="more_services">
                            <a href="{% url 'service' service.pk %}">
                                Подробнее
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>