<div class="box_content_services">
    <div class="container">
        <div class="box_headline_include">
            <div class="row">
                <div class="oragne_left_line"></div>
                <div class="headline_box_text">
                    Услуги
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5">
                <div class="box_img_service">
                    <a href="">
                        <div class="block_services">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="name_service">
                                        Аттестация персонала
                                        сварочного производства
                                    </div>
                                </div>
                            </div>
                            <div class="line_service_yellow"></div>
                        </div>                    
                    </a>
                </div>
                <div class="box_text_for_services">
                        Аттестация специалистов сварочного производства проводится в соответствии с ПБ 03-273-99, РД
                        03-495-02 в целях установления достаточности теоретической и практической подготовки;
                        проверки знаний и навыков; и предоставления права специалистам сварочного производства
                        выполнять работы на объектах, подконтрольных Ростехнадзору.
                    </div>
                    <button class="more_services">
                      <a href="">
                            Подробнее
                      </a>
                    </button>
            </div>
        </div>
    </div>
</div>