// Спецификация

body {
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
}


@media (min-width: 360px) {
    .container {
        max-width: 1600px;
    }
}

.box_content_pages{
    padding: 45px 0px 45px;
}

.additional_logo{
    text-align: right;
    @media screen and (max-width: 992px) {      
        text-align: center;
        padding: 10px 0px 10px;
    }
}

.logo_one_of{
    @media screen and (max-width: 992px) {      
        width: 30px;
    }
    @media screen and (max-width: 576px) {      
        width: 50px;
    }
}

.line__otstup__inside__pages {
    margin-top: 35px;
    margin-bottom: 35px;
}

.box_content{
    padding: 85px 0px 85px;
    @media screen and (max-width: 1200px) {      
        padding: 45px 15px 45px;
       }
}

.headline_box_text {
    font-size: 32px;
    font-weight: 400;
    color: #000;
    padding: 0px 15px 0px;
    p{
        font-size: 14px;
        a{
            color: #16376a;
            text-decoration: underline;
        }
    }    
}

.box_headline_include{
    padding: 0px 0px 35px;
}


.back__to__main {
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 0px;
    margin-top: 45px;
    margin-bottom: 45px;

    a {
        text-decoration: none;
        color: #000000;
        padding: 15px;
        border: 1px solid rgb(238, 238, 238);
        border-radius: 3px;

        &:hover {
            background-color: rgb(243, 243, 243);
        }
    }
}

.arrow__back__to__main {
    margin-right: 5px;
}

.sider__bar {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(45vh);
}

// Хедр


.box_header_items {
padding: 40px 0px 40px;
    @media screen and (max-width: 992px) {
        text-align: center;
        padding: 25px 0px 25px;
    }

    @media screen and (max-width: 576px) {

        text-align: center;
    }
}

.header__logo {
    @media screen and (max-width: 1488px) {
        width: 250px;
           padding: 25px 0px 25px;
    } 
}

.center__logo {
    padding-left: 5px;
    padding-right: 5px;

    @media screen and (max-width: 320px) {
        padding-left: 45px;
        padding-right: 45px;
    }
}

.number {
    font-size: 20px;
    // font-weight: 300;
    // margin-bottom: 0;
    color: #fff;

    @media screen and (max-width: 1400px) {
        font-size: 22px;
    }
}

.number_header {
    font-size: 22px;
    font-weight: 600;
    color: #242424;
    @media screen and (max-width: 1400px) {
        font-size: 15px;
    }   
    @media screen and (max-width: 992px) {
        font-size: 14px;
    }   
    @media screen and (max-width: 320px) {
        font-size: 18px;
    }   
}



.enter_system_link {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-left: 25px;
}

.adres__block {
    margin-bottom: 5px;
    font-size: 14px;

    @media screen and (min-width: 1000px) {
        margin-top: 15px;
    }

    a {
        text-decoration: underline;
    }

    @media screen and (max-width: 696px) {
        margin: 10px;
    }
}

.block__number {
    text-align: right;

    @media screen and (max-width: 578px) {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    @media screen and (max-width: 575px) {
        text-align: center;
    }
}

.number__text__small {
    margin-bottom: 0;
    font-weight: 450;
    font-size: 14px;
}

.feedback {
    margin-top: -15px;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    color: #4f8ff5;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    text-align: right;

    a {
        text-decoration: none;
    }

    @media screen and (max-width: 992px) {

        padding: 10px 25px;
        margin-top: 10px;
        border-radius: 3px;
        justify-content: center;

        a {
            color: #fff;
        }
    }
}

.text__adres {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 25px;

}

.click__on__map {
    margin-top: -15px;
    font-size: 12px;
    font-weight: 450;

    @media screen and (max-width: 576px) {
        font-size: 14px;
        margin-bottom: 15px;
    }
}

.number__footer {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 0;
    color: #fff;
}

.consultation__text {
    color: #fff;
}

.feedback__button__mob {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-top: 5px;

    a {
        text-decoration: none;
        font-size: 12px;
        color: #6698e4;
        padding: 7px 20px;
        vertical-align: middle;

        @media screen and (max-width: 1440px) {
            padding: 8px 15px;

        }

        @media screen and (max-width: 1200px) {
            padding: 7px 12px;
            font-size: 12px;
        }

        @media screen and (max-width: 320px) {
            clear: both;
        }

        &:hover {
            background-color: #6698e415;
            transition: 0.2s;
        }
    }

}

.feedback__footer_m {
    border: 1px solid #6698e4;
    border-radius: 45px;

}

.icon__vopros {
    margin-top: -4px;
    margin-left: -5px;
}


// Меню
.box__line__menu {
    background-color: #ecf5fe;
}

.system__button {
    padding: 0px 30px;
}

.system__button a {
    text-decoration: none;
}

.enter__system {
    color: #fff;

    &:hover {
        color: rgb(226, 226, 226);
    }
}

.enter__system::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 15px;
    margin-left: -35px;
    margin-top: 5px;
    background: url(/static/img/enter.png) center 0 no-repeat;
}

// Бэкграунд

.background {
    background: url(/static/img/background.png) no-repeat;
    background-size: cover;
    padding: 40px;
    @media screen and (max-width: 1199px) {
        padding: 15px 0px;
    }
}

.bg_left_column_info {
    background-color: #16386aad;
    padding: 60px;
    @media screen and (max-width: 576px) {
        text-align: center;
        padding: 25px;
    }
}

.bg_text_head {
    font-size: 42px;
    font-weight: 550;
    color: #fff;

    @media screen and (max-width: 992px) {
        font-size: 26px;
    }
}

.bg_text_headline_right_column {
    font-size: 22px;
    font-weight: 450;
    color: #fff;
    margin-bottom: 40px;

    @media screen and (max-width: 1199px) {
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

.bg_padding_info {
    padding: 40px 0px;
}

.bg__text_right_column {
    background-color: #005abb71;
    padding: 35px;
}

.bg_text_small {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 1.8;
    margin-bottom: 0px;

    @media screen and (max-width: 320px) {
        font-size: 14px;
    }
}

.bg__text__naks {
    font-size: 16px;
    font-weight: 500;
    color: #fff;

    a {
        text-decoration: none;
        color: #fff;
    }
}

.bg__line {
    border-bottom: 1px solid #3eb5f1;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}


.button__zayavka {
    background-color: #fbba00;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 450;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    @media screen and (max-width: 477px) {
        padding: 7px 15px;
        margin-bottom: 25px;
    }

    &:hover {
        background-color: #fdbe10;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    &:active {
        background-color: #e7aa02;
        transition: 0.2s;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.button_services {
    background-color: transparent;
    border: none;

    a {
        border: 1px solid #fff;
        padding: 12px 53px;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        margin-left: 15px;
        @media screen and (max-width: 477px) {
            padding: 8px 35px;
            margin-left: 0px;
        }

        &:hover {
            background-color: #ffffff2d;
            transition: 0.2s;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -ms-transition: 0.2s;
            -o-transition: 0.2s;
        }
    }
}

.info_box_text {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 0px;
}

.info_box_text_small {
    font-size: 13px;
    color: #4b5c72;
    margin-top: 10px;
    margin-bottom: 0px;
}

.naks_link {
    font-size: 13px;
    font-weight: 300;
    text-decoration: underline;

    a {
        color: #ffffff;
        line-height: 1.8;
    }

}

.naks_link .spks_link {
    margin-left: 10px;
    text-decoration: underline;
}

.feedback__button {
    padding: 0;
    background-color: transparent;
    border: none;
    width: 100%;
    // margin-top: 10px;

    a {
        text-decoration: none;
        // font-size: 12px;
        color: #6698e4;
        padding: 7px 20px;
        vertical-align: middle;

        @media screen and (max-width: 1440px) {
            padding: 8px 15px;

        }

        @media screen and (max-width: 1200px) {
            padding: 7px 12px;
            font-size: 12px;
        }

        &:hover {
            background-color: #6698e415;
            transition: 0.2s;
        }
    }

}

.feedback {
    border: 1px solid #6698e4;
    border-radius: 45px;
    width: 100%;

}

.icon__vopros {
    margin-top: -4px;
    margin-left: -5px;
}

// Контентная часть left column


.header__name {
    color: #1d4872;
    font-size: 28px;
    font-weight: 500;
    padding: 60px 0px 25px;
}

.text__medium {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
}

.box__info__text__small {
    margin-left: 15px;
}

.info__text__small::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -15px;
    margin-top: 8px;
    background: url(/static/img/paragraph_arrow.png) center 0 no-repeat;
}


.info__text__small {
    font-size: 16px;
    font-weight: 450;
    color: rgb(82, 82, 82);
}

.header__name__small {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.img_box {
    margin-right: 15px;
    width: 100px;

    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.link__read__more a {
    text-decoration: none;
    font-size: 16px;
    color: #0066ac;
}


// Услуги right column



// .box__service:hover {
//     background-color: #143b63;
//     -moz-transition: all 0.2s ease-out;
//     -o-transition: all 0.2s ease-out;
//     -webkit-transition: all 0.2s ease-out;
//     -webkit-transform: scale(1.01);
//     -moz-transform: scale(1.01);
//     -o-transform: scale(1.01);
// }

.enter_icon {
    margin-right: 10px;
}

.system_edo_enter {
    background-color: transparent;
    border: none;

    a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 450;
        color: #fff;
        padding: 12px 25px;
        border-radius: 25px;
        background-color: #16376a;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        @media screen and (max-width: 1500px) {
            font-size: 12px;
            font-weight: 400;
            padding: 12px 15px;
        }
        @media screen and (max-width: 1255px) {
          display: none;
        }
    }
}

.box_service {
    padding: 25px;
    background-color: rgba(245, 245, 245, 0.37);
    border-bottom: 4px solid #fbb42f4b;

    a {
        text-decoration: none;
    }

    &:hover {
        background-color: #86bbd852;
        transition: 0.3s;
    }

    @media screen and (max-width: 1200px) {
        margin-bottom: 35px;
    }
}

.short_description {
    font-weight: 400;
    font-style: normal;
    color: #6b6b6b;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0px;
}


// Документы
.header__inside__pages {
    font-size: 28px;
    font-weight: 500;
    padding: 0px 0px 25px;
}


.header__doc {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin-top: 25px;
    margin-bottom: 10px;
}

.doc__name__list {
    font-size: 18px;
    font-weight: 300;
    color: #000;  
    margin-top: 10px;
}

.headline_section_doc{
    font-size: 20px;
    font-weight: 450;
    color: #000;
}

.right__column__header{
    font-size: 18px;
    font-weight: 450;
    color: #000;
}

.small__column__text a{  
    font-size: 16px;
    font-weight: 450;
    color: #16376a;    
}


.doc__name__list h4 {
margin-bottom: 15px;
}

.doc__content {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #ffffff;
    padding: 25px;
    border-left: 1px solid #c5deff;

    &:hover {
        background-color: #f5f5f5;
        transition: 0.2s;
        border-left: 1px solid #2785ff;
    }
}

.doc__name {
    position: relative;
    font-size: 15px;
    color: #000000;
    padding-left: 55px;
    margin-bottom: 0;
}

.doc__name::before {
    content: '';
    position: absolute;
    width: 23px;
    height: 31px;
    margin-top: -5px;
    left: 0;
    background: url(/static/img/icon__file.svg) center 0 no-repeat;
}

.bd-sidebar {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(30vh - 4rem);
}

//  Политика конфиденциальности

.header__political {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    margin-top: 15px;

    @media screen and (max-width: 1199px) {
        margin-top: 15px;
    }

}

.political__text__small {
    font-size: 14px;
    font-weight: 300;
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
}


// Услуги центра (внутреннее страницы)

.header__service {
    font-size: 24px;
    font-weight: 400;
    color: #000;
   padding: 15px 0px 5px;
   margin-bottom: 0px;  
}

.trebovanie__left__column {
    font-size: 18px;
    font-weight: 450;
    color: #000;
}

.box__service__inside__pages {
    margin-top: 35px;

    @media screen and (max-width: 1199px) {
        margin-top: 15px;
    }
}

.trebovanie__list {
    font-size: 14px;
    margin-bottom: 0;

    p {
        margin-bottom: 5px;
        line-height: 1.8;       
    }
}

.small__header__pages {
    font-size: 18px;
    font-weight: 550;
    margin-top: 15px;
    color: #7c7c7c;
}

.info__text__pages {
    font-size: 18px;
    font-weight: 450;
    margin-top: 15px;
    color: #000000;
}


.list__item__text {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 20px;
}

.line__inside_pages {
    border: 0.5px solid rgb(207, 207, 207);
    margin-bottom: 25px;
    margin-top: 25px;
}

.danger__text__pages {
    font-size: 18px;
    font-weight: 500;
    color: #0066ac;
}

.inside__text {
    font-size: 16px;
    margin-bottom: 5px;
    margin-bottom: 10px;
}

.box__yellow_bg {
    padding: 25px 25px;
    background-color: rgba(236, 236, 236, 0.8);
    font-size: 16px;
}

.specialist__text__small {
    margin-bottom: 0;
}


.sider__bar__service__pages {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(55vh);
    a{
        list-style-type: none;
    }
}

.online__zayavka__button {
    padding: 25px 0px 25px;    
}

.inside__pages__online__zayavka__button{
    padding: 15px 0px 15px;
}

.button__zayavka__inside__pages {
    background-color: #03274b;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    padding: 10px 25px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;    
    &:hover {
        background-color: #093663;
        transition: 0.2s;
    }

    &:active {
        background-color: #164c81;
        transition: 0.2s;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}




// О центре

.link__inside__pages {
    font-size: 18px;
    margin-bottom: 5px;
}

.content__text__kompanyi {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
}

.sider__bar__center__page {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(75vh);
}

.rukovodstvo__header {
    font-size: 20px;
    font-weight: 500;
}

.rukovodstvo {
    font-size: 18px;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 15px;
}

// Contact page

.contact__header__pages {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin-bottom: 15px;
    margin-top: 15px;
}

.contact__number {
    font-size: 20px;
    font-weight: 500;
}

.contacti__number__text {
    font-size: 12px;
    margin-top: -15px;
}

.adres__ac {
    font-size: 16px;
    font-weight: 500;
}

.ya__map {
    margin-bottom: 25px;
    width: 100%;
}

