{% extends 'mainapp/index.html' %}
{% load static %}
{% block content %}
  <div class="container">

    <button class="back__to__main" id="head__page">
      <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center" alt="">
        На главную</a>
    </button>


    <div class="row">
      <div class="col-xl-2">        
      </div>
      <div class="col-xl-7">
          <div class="header__inside__pages">О центре</div>
        <p class="header__doc">Центр аттестации ВВР-2ГАЦ</p>
        <p class="doc__name__list">Организация является членом Саморегулируемая
          организация Ассоциация «НАКС».</p>
          <p class="content__text__kompanyi">Общество с ограниченной ответственностью Аттестационный центр
              «НАКС-Владимир» - является членом СРО НП «Национальное Агентство Контроля Сварки» Системы Аттестации
              Сварочного производства (САСв) Ростехнадзора и оказывает услуги по аттестации сварщиков и
              специалистов сварочного производства.</p>
              <div class="line__inside_pages"></div>
              <p class="rukovodstvo__header">
                  Директор
              </p>
              <p class="rukovodstvo">
                  Герасимова Татьяна Васильевна
              </p>
              <p class="rukovodstvo__header">
                  Заместитель директора 
              </p>
              <p class="rukovodstvo">
                  Лопанов Илья Юрьевич
              </p>
              <p class="rukovodstvo__header">
                  Исполнительный директор 
              </p>
              <p class="rukovodstvo">
                  Сазонов Сергей Феликсович
              </p>
              <div class="line__inside_pages"></div>

              <p class="link__inside__pages"> <a href="doc.html">Необходимые документы для аттестации в нашем центре</a></p>
              <p class="link__inside__pages"> <a href="reestr.html">Ресстр САСв нашего центра</a></p>
              <p class="link__inside__pages"> <a href="profstandarti.html">Профстандарты в области сварки</a></p>
        
        <div class="line__inside_pages"></div>
        <p class="small__header__pages">
         Аттестаты соответствия
          </p>
          <main role="main">
              <p class="imglist d-flex">
                  <a href="{% static '/img/img_at.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                      <img src="{% static '/img/img_at.jpg' %}" class="img-fluid">
                  </a>
                  <a href="{% static '/img/img_at2.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                      <img src="{% static '/img/img_at2.jpg' %}" class="img-fluid">
                  </a>
                  <a href="{% static '/img/img_at3.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                      <img src="{% static '/img/img_at3.jpg' %}" class="img-fluid">
                  </a>
                  <a href="{% static '/img/img_at4.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                      <img src="{% static '/img/img_at4.jpg' %}" class="img-fluid">
                  </a>
                  <a href="{% static '/img/img_at5.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                      <img src="{% static '/img/img_at5.jpg' %}" class="img-fluid">
                  </a>
                  <a href="{% static '/img/img_at6.jpg' %}" class="img_box" data-fancybox="group1" data-type="image">
                      <img src="{% static '/img/img_at6.jpg' %}" class="img-fluid">
                  </a>                 
              </p>
          </main>
      </div>

      <div class="col-xl-2">

        <div class="sider__bar__center__page">
          <p class="trebovanie__left__column">
            Требования к аттестациям:
          </p>
          <a href="" download="#" class="trebovanie__list">
            <p>
              • ПБ 03-273-99</p>
          </a>
          <a href="" download="#" class="trebovanie__list">
            <p>
              • РД 03-615-03</p>
          </a>
          <a href="" download="#" class="trebovanie__list">
            <p>
              • РД 03-613-03</p>
          </a>
          <a href="" download="#" class="trebovanie__list">
            <p>
              • РД 03-614-03</p>
          </a>
          <p class="right__column__header">
            Подать заявку на аттестацию:
          </p>
          <div class="list__service__column">
            <p class="small__column__text"><a href="{% url 'svarshik' %}">Специальная подготовка сварщиков 
и специалистов сварочного производства</a></p>           
            <p class="small__column__text"><a href="{% url 'svarproizvodstva' %}"> Аттестация сварщиков 
и специалистов сварочного производства</a></p>
            <p class="small__column__text"><a href="{% url 'atestatsvaroborud' %}"> Аттестация 
сварочного оборудования</a></p>
            <p class="small__column__text"><a href="{% url 'atestatechonlogy' %}">Аттестация 
технологий сварки</a></p>

          </div>
        </div>
      </div>
    </div>


    <div class="line__otstup__inside__pages"></div>

    <button class="back__to__main">
      <a href="{% url 'index' %}"> <img src="{% static '/img/back__arrow-01.png' %}" class="arrow__back__to__main text-align-center" alt="">
        На главную</a>
    </button>
    <div class="line__otstup__inside__pages"></div>
  </div>
  {% endblock  %}